.navbar {
    width: 100%;
    background-color: #555;
 overflow: auto;
    margin-bottom: 0; 
    border: 0 ;
  }
  .haaa{
     
      background-repeat: no-repeat;
      height:100%;
      width:100%;
     background-size:cover;
    
  }
  
  .navbar a {
    float: left;
   
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color:#555;
  }
  
  