
<app-swap></app-swap>
<div class="jumbotron" >
        <h1 style="text-align:center;color:#330033;font-family: fantasy">OUR SERVICES</h1>
    
    
  </div>






<!-- Services section -->
	<section id="what-we-do">
		<div class="container-fluid">
			
            
             <div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Watering garden</h3>
							<p class="card-text">Just as you need water to survive, your plants need water as well to bloom and grow. At Bagbani, we provide the old school garden watering service customized as per your requirement which can be one-time, daily, weekly or monthly. Bagbani experts also provide you with guidance about how to keep your garden healthy and garden care.

                                Apart from traditional watering services, we also have advanced garden watering techniques which will never let your plants feel thirsty. With our automated watering systems, we make sure that your garden is automatically watered at regular intervals. Click here to view our automated watering system.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Tree Cleaning</h3>
							<p class="card-text"> 

                                We organise weekly or fortnightly cleaning with excellent, reliable and experienced cleaners who pay attention to detail. Spring cleaning, focussing on those nitty gritty jobs that are difficult to find time for or deep cleaning ready for your 'big move' in or out. 
                                
                                ​
                                
                                Trust is a vitally important aspect of our business and all our staff are fully vetted, professional and insured. Plus, with a dedicated management team to assist with any worries that may arise and to find cover should your cleaner, carer or gardener be off sick or on holiday, you can be confident that The Bay Tree Cleaning Company will offer a friendly, trustworthy and thorough service. </p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Rubbish removal</h3>
							<p class="card-text">  Our network of local, environmentally-conscious rubbish collection and rubbish removal teams is spread far and wide, and there will always be one near to you. We use our online platform to allocate each waste removal job to network members, according to how near they are to you, and whether they are available. We keep in touch with them online to keep an eye on their performance, and we keep you, the customer, up to date on progress. Imagine a service like Uber, but we don’t move people around, we clear and remove junk. Our services save you time and money because you deal directly with our approved waste carriers.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Planting Tree</h3>
							<p class="card-text">To take advantage of the many benefits trees offer, it is important to plant the right tree in the right place. Choosing a tree that will thrive on your property depends on local weather conditions, regional pests and diseases, soil conditions and other factors. Your local arborist will work directly with you to determine the best tree and planting process for your yard.

                                For trees on your property that are not in the most ideal growing spot, our certified arborists offer transplanting services. Transplanting is a precise process best completed by a tree care professional.
                                
                                Expert knowledge of the property characteristics and tree conditions that affect a transplanting job are essential to ensuring the survival of your tree. Davey professionals are equipped to handle the varying factors you must keep in mind to safely and successfully transplant a tree.
                                
                                *Not available in all areas. Contact your local office for availability. </p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">Designing and planting</h3>
							<p class="card-text">The planting in any garden design is really important, it’s even more important to get it right past the initial ‘looks good’ stage! Our professional trained in-house horticulturists can provide a scheme for your garden, or even as part of a planning condition, based upon your soil structure, exposure and microclimate all tailored to your own personal tastes on colour, size, foliage types, maintenance demands and price range. This will make sure your garden thrives long term due to the right plants being chosen! Our garden planting service is led by trained professional and passionate gardeners working throughout Kent, Sussex and Surrey, it is quite common for this to be integrated into the design process but we are equally happy to offer the service for your own project or existing garden.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">Landscaping services</h3>
							<p class="card-text">Crete Garden Center is your single source for your landscaping needs of contractors and homeowners throughout the south suburbs. We strive to provide our customers with everything they need to beautify their corner of the world. As a family owned and operated garden center we are committed to providing the highest quality plants and materials for your next landscaping project. Our reputation for prompt dependable service, knowledgeable staff and affordable prices has made us one of the largest garden centers on the south side. Our retail center carries the supplies you’ll need to create your perfect landscape, everything from top soil, potting soil, mushroom compost, fertilizers, and lawn chemicals. We also stock top quality hardscape landscape materials like brick pavers and retaining walls.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
    <!-- /Services section -->


<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Certified Experts</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                    <h4 class="card-title">Rashmi</h4>
                                    <p class="card-text">Soil testing officer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Rashmi</h4>
                                    <p class="card-text">1. They will be responsible for carrying out Soil Testing of Farmers field
                                        samples and that of govt. farms and will convey the results well convey
                                        the results well before the time of sowing to the respective agencies.
                                       <br> 2. They will also lay out minikit and demonstration trials (both varietal
                                        and fertilizer trials) from the share of entire district.
                                       <br> 3. They will also be responsible for the additional duties assigned to them
                                        during special campaign.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                    <h4 class="card-title">Nick john</h4>
                                    <p class="card-text">Senior analytical Chemist</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Nick john</h4>
                                    <p class="card-text">1. Overall Incharges of Central Laboratory, in check analysis of soil
                                        sample received from all the twelve districts soil testing laboratories.
                                        <br>2. Overall control of all the Soil Testing Laboratories and Mobile Vans.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                    <h4 class="card-title">Hitha</h4>
                                    <p class="card-text">Training Officer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Hitha</h4>
                                    <p class="card-text">They are responsible for imparting instructions to the trainees in the
                                        Director SAMETI Mashobra/FTC, Sundernagar, where village level workers are
                                        trained for field duties.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                                    <h4 class="card-title">Richard</h4>
                                    <p class="card-text">Junion engineer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Richard</h4>
                                    <p class="card-text">Designing and execution of Soil Conservation schemes and recording of
                                        measurement of works execution of Soil Conservation estimate of const of works
                                        and preparation of original map of the land to be benefited the schemes.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                    <h4 class="card-title">Sohil</h4>
                                    <p class="card-text">Information Officer.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sohil</h4>
                                    <p class="card-text">Any queries regarding the gardening and tools will be given by the us. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="suman.jpg" alt="card image"></p>
                                    <h4 class="card-title">Suman</h4>
                                    <p class="card-text">Map officer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Suman</h4>
                                    <p class="card-text">He is checked & verify designing of Soil Conservation Schemes.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->





    <h3>Helpful tips</h3>

    <!--partation-->

    <section>
        <div class="container">
        
            <h3>Garden words to know</h3>
                <div class="row mbr-justify-content-center">
        
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap">
                                
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Soil  <span>pH:</span></h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6"> Soil can be acidic, neutral or alkaline, depending on its pH. A low pH soil is acidic while a high pH soil is alkaline. Some plants do best in acidic soils, others prefer alkaline. Knowing your soil's pH can help you decide what to plant.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap">
                               
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Hardening <span> off: </span>
                                </h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">If you are planting seedlings outdoors, you'll need to harden them off first, or get them used to outdoor conditions. That typically involves setting the seedlings outside for a few hours at a time, gradually increasing the time they spend outside.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap">
                               
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Pruning:
                                   
                                </h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">Pruning refers to cutting back or trimming your plants, to allow for new growth. You can prune in several ways, by pinching the flowers or cutting the stems.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mbr-col-md-10">
                        <div class="wrap">
                            <div class="ico-wrap">
                                
                            </div>
                            <div class="text-wrap vcenter">
                                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Organic:</h2>
                                <p class="mbr-fonts-style text1 mbr-text display-6">In the garden, organic has two meanings. First, it means living or made of living materials. It also refers to a method of gardening that doesn't use synthetic pesticides or other chemicals.</p>
                            </div>
                        </div>
                    </div>
        
                    
        
                    
                </div>
        
        </div>
        
        </section>
    
    
    
    
    
    
    