<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



<!-- =========== Header section start here =========== -->
		 <div id="tophead">
			<div class="container">
				<div id="quick-contact">
					<ul>
						<li> <i class="fa fa-phone" style="line-height: 24px;"></i>   <a href="#" >Phone : 7760536951</a> </li>
						<li class="quick-email"> <a href="mailto:contact@trovend.com" >contact@yourname.com</a> </li>
						<li class="quick-address"> Bangalore, India. </li>
					</ul>
				</div> 

				
				<div class="header-social-wrapper">
					<span class="social-title">Follow Us!</span>
					<div class="social-links">
						<ul>
							<!-- <li><a href="http://skype.com/" target="_blank"></a></li> -->
							<li><a href="http://googleplus.com" target="_blank"></a></li>
							<li><a href="https://twitter.com" target="_blank"></a></li>							
							<li><a href="https://www.linkedin.com/company" target="_blank"></a></li>							
							<li><a href="https://www.facebook.com" target="_blank"></a></li>
						</ul>
					</div> 
				</div>
			</div> 
		</div> 
