<app-losi></app-losi><div class="auto-container">
        <div class="row">
          <div class="column col-lg-6 col-md-12 col-sm-12">
            <div class="sec-title">
              <div class="haa">
              <h2>Welcome to Gardenbuzz !!!!!</h2>
              </div>
            </div>
          </div>					
        </div>							
      </div>	
      
      
      
      
      
      
      
      
      <section class="container">
        <div class="section first">
          <div class="cont_title">
            <!--<div class="letter-container">
              <p class="lettering">Alaska, USA</p>
            </div>-->
            
           
          </div>
          <div class="cont_desc">
            <p>Trees are as close to immortality as the rest of us ever come</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            
            
          </div>
          <div class="cont_desc">
            <p>The love of gardening is a seed once sown that never dies</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            <h1 style="color:saddlebrown"><b>GARDENBUZZ</b></h1>
            
          </div>
          <div class="cont_desc">
            <p></p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
           
          </div>
          <div class="cont_desc">
            <p>Gardening is the art that uses flowers and plants as paint, and the soil and sky as canvas</p>
          </div>
        </div>
        <div class="section">
          <div class="cont_title">
            
          </div>
          <div class="cont_desc">
            <p>The seed waits for its garden or ground where it will be sown.</p>
          </div>
        </div>
      </section>
      
      <!--hjegrwjfbsdgm-->
      
      <div class="how-section1">
        <div class="row">
            <div class="col-md-6 how-img">
                <img src="https://i.pinimg.com/originals/a3/d8/dd/a3d8dd96fd914b299fe150198dd96d8b.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <h4>Plant Encyclopedia
                </h4>
                           
            <p class="text-muted">The Better Homes & Gardens Plant Encyclopedia is an invaluable resource for new and experienced gardeners everywhere. This plant-finder tool is easily searchable by plant type and characteristic, and provides helpful information on caring for plant. In addition, the Plant Encyclopedia offers helpful design tips and uses for different types of plants, trees, shrubs, vines, indoor plants, and everything in between. Using the Plant Encyclopedia, you'll be inspired to include plants and flowers in new landscape designs, planters and containers, raised garden beds and more. You'll not only find details on classic favorite plants such as hydrangea, orchids, and ornamental grasses, but also more unusual varieties.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Water sources</h4>
      
                            <p class="text-muted">Birdbaths, shallow dishes, or butterfly puddling areas are simple  to create and needn’t take much time or money. Shallow dishes can be a great spot for birds to bathe and honeybees to drink (set a few rough-textured stones of varying sizes inside so honeybees can drink without falling in), while butterfly puddling areas, basically a shallow tray with some sand and stones set inside, can be a great place for them to pick up minerals and nutrients while drinking.</p>
            </div>
            <div class="col-md-6 how-img">
                <img src="http://northcoastgardening.com/wp-content/uploads/2010/04/SeaCoastGardeningballfountainbyPhilBurgessinArcata-150x150.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 how-img">
                 <img src="https://thehorticult.com/wp-content/uploads/2018/11/FotoJet-the-horticult-shop-featured-image.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
            <div class="col-md-6">
                <h4>EEZY-GRO Self Watering Planters</h4>
                            
                            <p class="text-muted"> These amazing planters keep your plants moist for up to 4 weeks! The internal wick system absorbs water from the reservoir like a sponge, drawing water up to the plant roots. Plants will only absorb the amount of water they require. No more over- or under-watering; your plants will thrive!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Bulb Plants That Will Keep Coming Back</h4>
                            
                            <p class="text-muted">Flowering bulb plants count among nature's best magic, since the bulb is more than just a seed. It holds everything the plant needs to get a start in life. The plant's foliage recharges the bulb after blooming, so that it can bloom again the following year.
      
                              Naturalized bulbs go even farther. Bulbs that are good for naturalizing offer their flowers spring after spring for decades. But they also form new bulbs and expand their range.
                              
                              The number of flowers increases year after year without any action on your part. You don't need to seed or divide. Naturalized bulbs create new bulbs themselves, slowly but surely spreading through the area and creating a beautiful, meadow-style planting.
                                
                                </p>
            </div>
            <div class="col-md-6 how-img">
                <img src="https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/0b96ab8d92474394a4a1c1b649e80456.jpg" class="rounded-circle img-fluid" alt=""/>
            </div>
        </div>
      </div>