
<app-swap></app-swap>

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
     <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex text-center h-100">
        <div class="my-auto w-100 text-white">
          <h1 class="display-3">About us</h1>
          
        </div>
      </div>
    </div>
  </header>
<!--  <div class="jumbotron" style="background-image: url('https://image.shutterstock.com/image-photo/pink-bright-texture-designer-background-260nw-1040229760.jpg')">
    <h1 style="text-align: center">About </h1>

    
  </div>-->
    

<div class="bread-bar">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 col-sm-6 col-xs-4">
            </div>
        </div>
      </div>
</div>
<div class="aboutus-secktion paddingTB60">
<div class="container">
    <div class="row">
                <div class="col-md-6" style="padding-top:20px">
                    <h1 >Who we are and<br>what we do</h1>
                    
                </div>
                <div class="col-md-6">
                    
                <p style="font-size: 20px">To promote environment-friendly nature and chemical free vegetables.
                    To create awareness and training program on organic terrace gardening
                    
                    To bring down the hazardous chemical effects on health and environment
                    
                    To provide simple ways of gardening, which allows even children and elders to showcase their interest in gardening
                    
                    To help every citizen in managing the garbage at home.
                    
                    To provide green essence on every terrace and empty space.</p>
                
                </div>

</div>
</div>
</div>



<div class="container">
<!-- Three columns -->
<div class="row">
<div class="col-lg-6"  style="background:khaki;padding-left:20px">
 <h1 style="text-align:center">vision:</h1>
 <br>

 <p>Making Next Generation Farmers, Farming & Forest Ready.</p>
 <br>
</div>
<div class="col-lg-6" style="background:lightblue;">
 <h1 style="text-align:center">Mission:</h1>
 <p>By Informing, Inspiring, Involving, Improving. Through Communities, Gardners, Products and services by enabling all eco friendly humans, to adapt Sustainability in there day to day life, in one or other practically implementing ways.  
</p>
</div>
</div>  


<script>
function openTab(tabName) {
var i, x;
x = document.getElementsByClassName("containerTab");
for (i = 0; i < x.length; i++) {
  x[i].style.display = "none";
}
document.getElementById(tabName).style.display = "block";
}
</script>
<br>
<br>

<h3 style="text-align:center;color:green">The only place we feel safe and secure is our home, hold it safe for future generation<br>

 Life changes with change in lifestyle,<br>

 Let’s populate the polluted world with green,<br>

 Let’s spread gardens, no more garbage,<br>

 Let’s get rich in health, let’s grow together,<br>

 Share the future generation a treasure, some pleasure and more green.</h3>
<br>
<br>








<div class="container team-sektion paddingTB60">
<div class="row">
    <div class="site-heading text-center">
                    <h3>Our Team</h3>
                    <p>Gardenbuzz </p>
                    <div class="border"></div>
                </div>
</div>
<div class="row">
    <div class="col-md-3 team-box">
        <div class="team-img thumbnail">
            <img src="aksh.jpg" height="250px">
        <div class="team-content">    
            <h3>Akshatha P</h3>
            <div class="border-team"></div>
            <p>manager</p>
            <div class="social-icons"> 
           <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
           <a href="https://www.instagram.com/akshatha_prakash_/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        </div>
    </div>
</div>
    <div class="col-md-3 team-box">
        <div class="team-img thumbnail">
            <img src="ht.jpg" height="200px">
        <div class="team-content">    
            <h3>Harshitha HT</h3>
            <div class="border-team"></div>
            <p>President</p>
            <div class="social-icons"> 
           <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
           <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        </div>
    </div>
</div>

<div class="col-md-3 team-box">
    <div class="team-img thumbnail">
        <img src="spoo.jpg" height="300px">
    <div class="team-content">    
        <h3>Spoorthy BCS</h3>
        <div class="border-team"></div>
        <p>CEO</p>
        <div class="social-icons"> 
       <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
       <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    </div>
</div>
</div>


    <div class="col-md-3 team-box">
        <div class="team-img thumbnail">
            <img src="pallu.jpg" height="250px">
        <div class="team-content">    
            <h3>Pallavi L V</h3>
            <div class="border-team"></div>
            <p>Director</p>
            <div class="social-icons"> 
           <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
           <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        </div>
    </div>
</div>
    
</div>
</div>


<div class="footer-section">
<div class="footer">
<div class="container">
    <div class="col-md-4 footer-one">
        <br>
        <br>
        <h5>About Us </h5>
        <p>Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <div class="social-icons"> 
           <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
           <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>	
    </div>
    <div class="col-md-3 footer-two">
        <br>
        <br>
        <h5>Information </h5>
        <ul>
                                <li><a href="maintenance.html">Maintenance Tips</a></li>
                                <li><a href="contact.html">Locations</a></li>
                                <li><a href="about.html">Testimonials</a></li>
                                <li><a href="about.html">Careers</a></li>
                                <li><a href="about.html">Partners</a></li>
                            </ul>
    </div>
    <div class="col-md-3 footer-three">
        <br>
        <br>
        <h5>Helpful Links </h5>
        <ul>
                                <li><a href="maintenance.html">Maintenance Tips</a></li>
                                <li><a href="contact.html">Locations</a></li>
                                <li><a href="about.html">Testimonials</a></li>
                                <li><a href="about.html">Careers</a></li>
                                <li><a href="about.html">Partners</a></li>
                            </ul>
    </div>
    <div class="col-md-2 footer-four">
        <br>
        <br>
        <h5>Helpful Links </h5>
        <ul>
                                <li><a href="maintenance.html">Maintenance Tips</a></li>
                                <li><a href="contact.html">Locations</a></li>
                                <li><a href="about.html">Testimonials</a></li>
                                <li><a href="about.html">Careers</a></li>
                                <li><a href="about.html">Partners</a></li>
                            </ul>
    </div>
    
    <div class="clearfix"></div>
</div>
</div>
<div class="footer-bottom">
    <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center ">
                        <div class="copyright-text">
                            <p>Go-Green...Save-Earth</p>
                        </div>
                    </div> <!-- End Col -->
                    
                </div>
            </div>
</div>
</div> 


<br>
<br>



<!--contact-->
<div class="jumbotron jumbotron-sm">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <h1 class="h1">
                Contact us <small>Feel free to contact us</small></h1>
        </div>
    </div>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-8">
        <div class="well well-sm">
            <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">
                            Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="email">
                            Email Address</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                    </div>
                    <div class="form-group">
                        <label for="subject">
                            Subject</label>
                        <select id="subject" name="subject" class="form-control" required="required">
                            <option value="na" selected="">Choose One:</option>
                            <option value="service">General Customer Service</option>
                            <option value="suggestions">Suggestions</option>
                            <option value="product">Product Support</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">
                            Message</label>
                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                            placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                        Send Message</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <form>
        <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
        <address>
            <strong>Bangalore.</strong><br>
            
            <abbr title="Phone">
                P:</abbr>
        7760536951
        </address>
        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
        </form>
    </div>
</div>
</div>




<!--map-->
<div class="container">
<div class="row-fluid">
    <div class="span8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15529.481934148063!2d77.12390653944956!3d13.327215004080719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb02e826fb691ef%3A0xe78608813c36f380!2sSiddaganga+Institute+Of+Technology%2C+Tumakuru!5e0!3m2!1sen!2sin!4v1563048931893!5m2!1sen!2sin" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
      
</div>
</div>












