<app-navbarhead>
  
  </app-navbarhead><app-swap></app-swap>
<!----<div class="jumbotron text-center">
        <h1 style="color:brown">GardenBuzz</h1>
        
        
                  
        
          
          
      <div class="container-fluid">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
         
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
      
          <div class="carousel-inner">
            <div class="item active">
                <header class="masthead">
                    <div class="container">
                      <div class="intro-text">
                        <div class="intro-lead-in">Welcome To Our gardenbuzz!</div>
                        <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
                      </div>
                    </div>
                  </header>
              
            </div>
             
            <div class="item">
              <div class="content">
              <h4>"One word... WOW!!"<br><span style="font-style:normal;">Trees reduce runoff by breaking rainfall thus allowing the water to flow down the trunk and into the earth below the tree. This prevents stormwater from carrying pollutants to the ocean. When mulched, trees act like a sponge that filters this water naturally and uses it to recharge groundwater supplies.</span></h4>
            </div>
            </div>
            
          
           
          </div>
          </div>
      
          
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
  
          <div class="container">
                <div class="row">
                  <div class="column-66">
                      <div class="col-sm-8">
                    <h1 class="xlarge-font" ><b>About</b></h1>
                    <h1 class="large-font" style="color:green;"><b>Go Green</b></h1>
                    <br>
                      <h4 style="padding-top:20px"><b>Dreams are the seeds of change.Nothing ever grows without<br> a seed and nothing ever changes without a dream.</b></h4>
                     <br> <p>Trees as landmarks can give a neighborhood a new identity and encourage civic pride.</p>
                      <p>We have our experts who can guide you throught out the growth of the plant.Thereby, enabling the pollution-free environment. </p>
                   
                  <br>
                    <a href="https://www.hugedomains.com/domain_profile.cfm?d=polarbearicecream&e=com" target="_blank">
                    <button class="button" style="background-color:green;color:white">Read More</button></a><br>

                  </div>
                  <br>
                  </div>
                  <div class="col-sm-4">
                        <span class="glyphicon glyphicon-globe logo"></span> 
                </div>
                  <br>
                </div>
            <br>
        
      
          <div class="container-fluid text-center sad" style="padding-top: 100px;">
                <h2>SERVICES</h2>
                <h4>What we offer</h4>
                <br>
                <div class="row">
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-off"></span>
                    <h4>POWER</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h4>LOVE</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-lock"></span>
                    <h4>JOB DONE</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                  </div>
                  </div>
                  <br><br>
                <div class="row">
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-leaf"></span>
                    <h4>GREEN</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-certificate"></span>
                    <h4>CERTIFIED</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                  </div>
                  <div class="col-sm-4">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <h4>HARD WORK</h4>
                    <p>Lorem ipsum dolor sit amet..</p>
                  </div>
                </div>
              </div>
             <p>vhvdfbjk,biuwoeakls</p>-->


<div class="auto-container-fluid" style="text-align:center">
    <div class="row">
      <div class="column col-lg-6 col-md-12 col-sm-12">
        <div class="sec-title">
          <div class="haa" >
          <h2 style="text-align: center;">Welcome to Gardenbuzz !!!!!</h2>
          </div>
        </div>
      </div>					
    </div>							
  </div>
  
  
  
  
  
  
  
  
  
  <section class="container">
    <div class="section first">
      <div class="cont_title">
        <!--<div class="letter-container">
          <p class="lettering">Alaska, USA</p>
        </div>-->
        
       
      </div>
      <div class="cont_desc">
        <p>Trees are as close to immortality as the rest of us ever come</p>
      </div>
    </div>
    <div class="section">
      <div class="cont_title">
        
        
      </div>
      <div class="cont_desc">
        <p>The love of gardening is a seed once sown that never dies</p>
      </div>
    </div>
    <div class="section">
      <div class="cont_title">
        <h1 style="color:saddlebrown"><b>GARDENBUZZ</b></h1>
        
      </div>
      <div class="cont_desc">
        <p></p>
      </div>
    </div>
    <div class="section">
      <div class="cont_title">
       
      </div>
      <div class="cont_desc">
        <p>Gardening is the art that uses flowers and plants as paint, and the soil and sky as canvas</p>
      </div>
    </div>
    <div class="section">
      <div class="cont_title">
        
      </div>
      <div class="cont_desc">
        <p>The seed waits for its garden or ground where it will be sown.</p>
      </div>
    </div>
  </section>
  
  <!--hjegrwjfbsdgm-->
  
  <div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://i.pinimg.com/originals/a3/d8/dd/a3d8dd96fd914b299fe150198dd96d8b.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Plant Encyclopedia
            </h4>
                       
        <p class="text-muted">The Better Homes & Gardens Plant Encyclopedia is an invaluable resource for new and experienced gardeners everywhere. This plant-finder tool is easily searchable by plant type and characteristic, and provides helpful information on caring for plant. In addition, the Plant Encyclopedia offers helpful design tips and uses for different types of plants, trees, shrubs, vines, indoor plants, and everything in between. Using the Plant Encyclopedia, you'll be inspired to include plants and flowers in new landscape designs, planters and containers, raised garden beds and more. You'll not only find details on classic favorite plants such as hydrangea, orchids, and ornamental grasses, but also more unusual varieties.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Water sources</h4>
  
                        <p class="text-muted">Birdbaths, shallow dishes, or butterfly puddling areas are simple  to create and needn’t take much time or money. Shallow dishes can be a great spot for birds to bathe and honeybees to drink (set a few rough-textured stones of varying sizes inside so honeybees can drink without falling in), while butterfly puddling areas, basically a shallow tray with some sand and stones set inside, can be a great place for them to pick up minerals and nutrients while drinking.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="http://northcoastgardening.com/wp-content/uploads/2010/04/SeaCoastGardeningballfountainbyPhilBurgessinArcata-150x150.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="https://thehorticult.com/wp-content/uploads/2018/11/FotoJet-the-horticult-shop-featured-image.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>EEZY-GRO Self Watering Planters</h4>
                        
                        <p class="text-muted"> These amazing planters keep your plants moist for up to 4 weeks! The internal wick system absorbs water from the reservoir like a sponge, drawing water up to the plant roots. Plants will only absorb the amount of water they require. No more over- or under-watering; your plants will thrive!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Bulb Plants That Will Keep Coming Back</h4>
                        
                        <p class="text-muted">Flowering bulb plants count among nature's best magic, since the bulb is more than just a seed. It holds everything the plant needs to get a start in life. The plant's foliage recharges the bulb after blooming, so that it can bloom again the following year.
  
                          Naturalized bulbs go even farther. Bulbs that are good for naturalizing offer their flowers spring after spring for decades. But they also form new bulbs and expand their range.
                          
                          The number of flowers increases year after year without any action on your part. You don't need to seed or divide. Naturalized bulbs create new bulbs themselves, slowly but surely spreading through the area and creating a beautiful, meadow-style planting.
                            
                            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/0b96ab8d92474394a4a1c1b649e80456.jpg" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
  </div>
